html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-gray: #3a3a3a;
  --main-green: #bdff00;
}

.container {
  display: flex;
 
}

header {
  display: flex;
  background-color: var(--main-gray);
  width: 100%;
  justify-content: space-between;
}

.boxname1, .boxname2 {
  
  font-family: 'Jost','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: white;
  text-align: right;

}

.boxname2 {
  color: var(--main-green);
  
  text-align: left;
}

.boxmenu {
  
  display: flex;
  align-items: center;
  flex-grow: 1;
  
  
  
  

}

.boxmenu > a {
  font-family: 'Jost','Times New Roman', Times, serif;
  font-weight: 250;
  font-size: 20px;
  line-height: 26px;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  
  

}

.boxmenu > a:hover {
  color: var(--main-green);
}