html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --main-gray: #3a3a3a;
  --main-green: #bdff00;
}

.rectangle1 {
  background-color: var(--main-gray);
  display: flex;
  
}

.boxname {
  background-color: blue;
  width: 40%;
  margin-left: 10%;
  flex-flow: row wrap;
  font-family: 'Jost','Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: white;


}

.boxmenu {
  /*background-color: yellow;*/
  width: 60%;

}